<h2>Create a celebrity</h2>

<form action='/celebrities' method='POST'>

  <label for='fullName'>Celebrity Name</label>
  <input type='text' placeholder='Full name' name='name' id='fullName' />

  <label for='occupation'>Celebrity Occupation</label>
  <input
    type='text'
    placeholder='Occupation'
    name='occupation'
    id='occupation'
  />

  <label for='catchphrase'>Celebrity Catchphrase</label>
  <input
    type='text'
    placeholder='Catchphrase'
    name='catchPhrase'
    id='Catchphrase'
  />

  <button>Submit</button>

</form>