<h2>Update celebrity</h2>

<form action='/celebrities/{{celebrity._id}}' method='POST'>

  <label for='fullName'>Celebrity Name</label>
  <input
    type='text'
    value='{{celebrity.name}}'
    placeholder='Full name'
    name='name'
    id='fullName'
  />

  <label for='occupation'>Celebrity Occupation</label>
  <input
    type='text'
    value='{{celebrity.occupation}}'
    placeholder='Occupation'
    name='occupation'
    id='occupation'
  />

  <label for='catchphrase'>Celebrity Catchphrase</label>
  <input
    type='text'
    value='{{celebrity.catchPhrase}}'
    placeholder='Catchphrase'
    name='catchPhrase'
    id='Catchphrase'
  />

  <button>Submit</button>

</form>