<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>Lab Mongoose Movies</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href='/celebrities/create'>Create celebrity</a>
      <a href='/celebrities'>Celebrity list</a>
    </nav>
    {{{body}}}
  </body>
</html>